{% if post.layout != post %}
  {% assign words = post.content | strip_html | strip_newlines | size %}
  {% if words < 360 %}
    less than 1 minute read
  {% elsif words < 720 %}
    1 minute read
  {% else %}
    {{ words | divided_by:360 }} minute read
  {% endif %}
{% endif %}
{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    less than 1 minute read
  {% elsif words < 720 %}
    1 minute read
  {% else %}
    {{ words | divided_by:360 }} minute read
  {% endif %}
{% endif %}
